html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#canvas1 {
  position: absolute;
  background-color: darkcyan;
  z-index: 1;
}

button {
  outline: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 50px;
  border-style: none;
  border-radius: 50%;
  z-index: 2;
}

button:hover {
  box-shadow: 0px 0px 40px 2px black;
}

#scramble {
  top: 40%;
  left: 95%;
  background-color: magenta;
}

#scramble:active {
  background-color: darkmagenta;
}

#solve {
  top: 60%;
  left: 95%;
  background-color: violet;
}

#solve:active {
  background-color: darkviolet;
}

#white {
  top: 80%;
  left: 12.5%;
  background-color: snow;
}

#white-prime {
  top: 90%;
  left: 12.5%;
  background-color: snow;
}

#white:active, #white-prime:active {
  background-color: grey;
}

#yellow {
  top: 80%;
  left: 27.5%;
  background-color: yellow;
}

#yellow-prime {
  top: 90%;
  left: 27.5%;
  background-color: yellow;
}

#yellow:active, #yellow-prime:active {
  background-color: #8b8b00;
}

#red {
  top: 80%;
  left: 42.5%;
  background-color: red;
}

#red-prime {
  top: 90%;
  left: 42.5%;
  background-color: red;
}

#red:active, #red-prime:active {
  background-color: darkred;
}

#blue {
  top: 80%;
  left: 57.5%;
  background-color: blue;
}

#blue-prime {
  top: 90%;
  left: 57.5%;
  background-color: blue;
}

#blue:active, #blue-prime:active {
  background-color: darkblue;
}

#orange {
  top: 80%;
  left: 72.5%;
  background-color: orange;
}

#orange-prime {
  top: 90%;
  left: 72.5%;
  background-color: orange;
}

#orange:active, #orange-prime:active {
  background-color: #8c5b00;
}

#green {
  top: 80%;
  left: 87.5%;
  background-color: green;
}

#green-prime {
  top: 90%;
  left: 87.5%;
  background-color: green;
}

#green:active, #green-prime:active {
  background-color: darkgreen;
}
